.nav_header{
    background-color: var(--segundo-color);
    border-bottom-style: inset;
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin: auto;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1;
    padding: 1rem;
    
}
.navbar_logo{
    width: 150px;
}


.navbar-navigation{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav_link{
    text-decoration: none;
    color: var(--tercer-color);
}

.onlogout_botton{
    background-color: var(--sexto-color); /* Color de fondo */
    color: var(--primer-color); /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como un bloque en línea */
    font-size: 16px; /* Tamaño del texto */
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer; /* Cambiar a un cursor de puntero */
    border-radius: 8px; /* Radio de borde para hacerlo redondeado */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra */
    font-weight: bold; /* fuente mas gruesa */
}
.onlogout_botton:hover{
    color: var(--cuarto-color); /* Color del texto */
}
.nav-item{
    display: flex;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    list-style: none;
    margin-left: 20px;
    padding: 6px 15px;
    color: #feffff;
    border-radius: 20px;
}

.nav-item.active {
    color: var(--primer-color); /* Cambia el color de texto cuando el enlace esté activo */
    font-weight: bold; /* Cambia el peso de la fuente cuando el enlace esté activo */
    background: var(--sexto-color);  /* son los bordes */
}

.nav-item:hover {
    color: var(--cuarto-color); /* Cambia el color de texto cuando el enlace activo se está volviendo a pasar por encima */
    background: var(--sexto-color);  /* son los bordes */
}

.span_login{
    color: var(--primer-color);
    margin-right: 1rem;
}


/* navbar footer */
    
.nav__footer{
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    border-bottom-style: inset;
    background-color: var(--cuarto-color);
    align-items: center;
    z-index: 1;
    display: none;
    
}
.nav__footer_text{
    text-decoration: none;
    color: var(--primer-color);
    font-size: 1rem;
    margin-right: 30px;
    display: flex;
}
.footer_text{
    font-size: 1rem;
}
@media (max-width: 800px){
    
}


/* navbar footer */
@media screen and (max-width:800px){

.navbar-navigation{
    display: none;
}  
.nav_header{
    background-color: var(--primer-color);
    justify-content: center;
    border-bottom-style: none;
    
}
.navbar_logo{
    width: 200px;
}

.footer_main{
    display: flex;
    justify-content: center;
    
}
.nav__footer{
    width:95% ;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    background-color: var(--segundo-color);
    align-items: center;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
    z-index: 1;
    border-radius: 25px;
    border: 1px solid var(--quinto-color);
    padding: .75rem;
    margin-bottom: 1rem;	

}
.nav__footer_text{
text-decoration: none;
color: var(--primer-color);
font-size: 2rem;
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 2rem;
}
.nav__footer_texto{
text-decoration: none;
color: var(--primer-color);
font-size: 2rem;
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 2rem;
}

.nav__footer_item{
display: flex;

}

.nav__footer_text{
    color: var(--tercer-color);
}
.nav__footer_texto{
    color: var(--tercer-color);
}

.nav__footer_text.active {
    color: var(--cuarto-color); /* Cambia el color de texto cuando el enlace esté activo */
    font-weight: bold; /* Cambia el peso de la fuente cuando el enlace esté activo */
    
}

.nav__footer_text:hover {
    color: var(--quinto-color); /* Cambia el color de texto cuando el enlace activo se está volviendo a pasar por encima */
}


.nav__footer_texto:hover {
    color: var(--cuarto-color); /* Cambia el color de texto cuando el enlace activo se está volviendo a pasar por encima */
}
.navbar-select {
    background-color: var(--segundo-color);
    color: white;
    padding: 2px;
    border-radius: 5px;
    height: 50px;
    margin: auto;
    font-size: 1rem;
}

}

@media screen and (max-width:550px){

.nav__footer_text{
font-size: 2rem;
margin: 1rem;


}
.navbar-select {
    background-color: var(--segundo-color);
    color: white;
    padding: 2px;
    border-radius: 5px;
    height: 50px;
    margin: 0;
    font-size: 1rem;
}

}
@media screen and (max-width:400px){

.nav__footer_text{
font-size: 1.5rem;
margin: .5rem;

}
.footer_text{
font-size: .8rem;
}

.navbar-select {

    margin: 0;
    font-size: .8rem;
}

}